header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(42, 146, 221, 0.501) 0%, rgba(112, 177, 224, 0) 100%), url("../images/whitedrone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: #ee7b30;
  opacity: 1;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ee7b30;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link:hover, .nav-link:focus {
  color: #ee7b30;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ee7b30;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(217, 122, 95, 0.579);
} 
.instagram {
  color: #ce655e
  transition color 0.2s;
}
.instgram:hover { 
  color: #333333; 
}

.icon-block svg{
  width:100%;
  height:100%;
}

*{
  font-family:Nunito, sans-serif;
}


*{
  font-family:Nunito, sans-serif;
}

.page-section {
  padding-top: 1; 
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.footer{
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: #333333;
  color: white;
  display: flex;
}
.footer div{
  text-align: center;
  margin: 0px auto;
}
.col-2{
  flex-grow: 1;
}
.footer div h4{
  font-weight: 100;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
}
.col-1 a{
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
}
form button{
  background: transparent;
  border: 2px solid #ffff;
  color: #ffff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}


.TEAMS-section

.responsive-cell-block{
  min-height:75px;
}
.responsive-container-block{
  min-height:75px;
  height:fit-content;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  margin-top:0px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  justify-content:space-evenly;
}
.outer-container{
  padding-top:0px;
  padding-right:100px;
  padding-bottom:0px;
  padding-left:100px;
  background-color:rgb(244, 252, 255);
}
.inner-container{
  max-width:1000px;
  flex-direction:column;
  align-items:center;
  margin-top:50px;
  margin-right:auto;
  margin-bottom:50px;
  margin-left:auto;
}

.img-wrapper{
  width:100%;
}
.team-card{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.social-media-links{
  width:15px;
  display:flex;
  flex-direction:row;
  align-items:center;
}
.name{
  font-size:25px;
  font-weight:700;
  color:rgb(102, 102, 102);
  margin-top:0px;
  margin-right:0px;
  margin-bottom:5px;
  margin-left:0px;
}
.position{
  font-size:25px;
  font-weight:700;
  color:rgb(0, 135, 177);
  margin-top:0px;
  margin-right:0px;
  margin-bottom:50px;
  margin-left:0px;
}
.team-img{
  width:100%;
  height:100%;
}
.team-card-container{
  width:280px;
  margin:0 0 40px 0;
}
@media (max-width: 500px){
  .outer-container{
    padding:10px 20px 10px 20px;
  }
  .section-head-text{
    text-align:center;
  }
} 