*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(42, 146, 221, 0.501) 0%, rgba(112, 177, 224, 0) 100%), url("../images/whitedrone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: #ee7b30;
  opacity: 1;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ee7b30;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link:hover, .nav-link:focus {
  color: #ee7b30;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ee7b30;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(217, 122, 95, 0.579);
} 
.instagram {
  color: #ce655e
  transition color 0.2s;
}
.instagram:hover { 
  color: #333333; 
}

.icon-block svg{
  width:100%;
  height:100%;
}

*{
  font-family:Nunito, sans-serif;
}


*{
  font-family:Nunito, sans-serif;
}

.page-section {
  padding-top: 0.8; 
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.container{
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
  text-align: left;
}
.footer{
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 10px;
}
.footer-col h4{
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px;
  text-align: center;
}
hr.divider2 {
  height: 0.2rem;
  max-width: 2.8rem;
  margin: 1rem auto;
  background-color: #ee7b30;
  opacity: 1;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.2s ease;
}
.footer-col ul li a:hover{
  color: #fff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255,0.2);
  margin-right: 0 10px 10px 0;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #fff;
}

.TEAMS-section

.responsive-cell-block{
  min-height:75px;
}
.responsive-container-block{
  min-height:75px;
  height:fit-content;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  margin-top:0px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  justify-content:space-evenly;
}
.outer-container{
  padding-top:0px;
  padding-right:100px;
  padding-bottom:0px;
  padding-left:100px;
  background-color:rgb(244, 252, 255);
}
.inner-container{
  max-width:1000px;
  flex-direction:column;
  align-items:center;
  margin-top:50px;
  margin-right:auto;
  margin-bottom:50px;
  margin-left:auto;
}

.img-wrapper{
  width:100%;
}
.team-card{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.social-media-links{
  width:15px;
  display:flex;
  flex-direction:row;
  align-items:center;
}
.name{
  font-size:25px;
  font-weight:700;
  color:rgb(102, 102, 102);
  margin-top:0px;
  margin-right:0px;
  margin-bottom:5px;
  margin-left:0px;
}
.position{
  font-size:25px;
  font-weight:700;
  color:rgb(0, 135, 177);
  margin-top:0px;
  margin-right:0px;
  margin-bottom:50px;
  margin-left:0px;
}
.team-img{
  width:100%;
  height:100%;
}
.team-card-container{
  width:280px;
  margin:0 0 40px 0;
}
@media (max-width: 500px){
  .outer-container{
    padding:10px 20px 10px 20px;
  }
  .section-head-text{
    text-align:center;
  }

.Covid-19 h3{
  padding-left:50px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 90px
} 

.Covid-19 p{
  font-size:20px;
  padding-left:20px;
}

.img1 { 
height:50%;
width:50%; 
}

.Environment h3{
  padding-left:50px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 90px
}

.Technology h3{
  padding-left:50px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 90px
}