*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/dronedelivery.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.text{
    color: red;
}